
@import "compass/css3";

// hay frand, play with these vars.


// colors by http://flatuicolors.com/

body {
  background-color: $body-bg;
}

h2{
color: #000;

font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 900;
text-align: center;
}

header{
float: left;
width: 100%;
}
section{
	float: left;
	width: 100%;
}

header p{
text-decoration: none;
position: absolute;
top: -60px;
width: 55px;
height: 132px;
flex-shrink: 0;
color: #7000FE;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;


}
.one {
	text-decoration: none;
	position: absolute;
	right: 150px;
	transition: 0.9s;
}
.one:hover{
	box-shadow: 10px 0px 10px 2px purple;
	transition: 0.5s;
}
.two{
	text-decoration: none;
	position: absolute;
	right: 80px;
}

.imgidone:hover{
	scale:1.1;
	box-shadow: 1px 0px 100px 1px purple;
	transition: 0.4s ;
}
.textpidone:hover{
	transform: translate(0px, -10px);
	border-top-left-radius: 1000px;
	transition: 0.4s ;
}
.abtnidone:hover{
	background-image: repeating-linear-gradient(45deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(41, 27, 158),rgb(249, 77, 212));
	transition: 0.4s ;
}

.catalog{
	position: relative;
	top: 100px;
	display: flex;
	justify-content: center;

}
.div-color{
	background: #F2F2F2;
	position: relative;
	top: -80px;
	
height: 192px;
}
.prom_one{
width: 233px;
margin: 0 100px;
}

.prom_one img{
	width: 233px;
height: 293px;
filter: blur(2px);
}

.textpidtwo{
position: relative;
top: 20px;
	width: 225px;
	color: #000;
height: 76px;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
}

.textpidone{
	color: white;
	position: relative;
	top: -90px;
	left: 30px;
	width: 172px;
	height: 46px;
	text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
.abtnidone{
	width: 117px;
background: #8503C2;
color: #FFF;
display: block;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
margin: 0 auto;
text-decoration: none;
padding: 5px 15px;
position: relative;
top: 24px;
}

.why{
	position: relative;
	top: 180px;
}

.why-main-div{
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 1136px;
margin: 0 auto;
}

.why-div{
width: 478px;
}

.why-div p{
	position: relative;
	top: -100px;
	left: 50px;
color: #000;

font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
}

.krug{
width: 100px;
height: 100px;
border-radius: 50%;
background-color: #8503C2;
filter: drop-shadow(0px 4px 40px rgba(133, 3, 194, 0.70));
}

.company{
	position: relative;
	top: 180px;
}

.company img{
	display: block;
	float: left;
	width: 350px;
height: 323.206px;
margin: 0 56px;
 animation-name: exampleone;
  animation-duration: 4s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out









}

.company p{
	color: #000;

font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 900;
}

.company div{
	float: left;
	width: 100%;
	margin: 40px 0;
}

.revs{
	position: relative;
	top: 250px;
}

.revs-main-div{
display: flex;
justify-content: center;
}

.rev{
	border-radius: 10px;
border: 1px solid #000;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.70);
width: 487px;
padding: 20px 0px 10px 5px;
margin: 0 50px;
transition: 0.8s;
}
.rev:hover{
box-shadow: 0px 9px 20px black;
transition: 0.6s;

}

.rev p{
	color: #000;
position: relative;
left: 15px;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 900;
}

.rev-p{
width: 390px;
}
.stars{
	position: relative;
	left: 15px;
}
.stars img{
	width: 43px;
height: 39px;
}

.rev-img{
	float: left;
	display: block;
	width: 45px;
height: 47px;
border-radius: 50px;
}

.more{
	color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 900;
position: relative;
top: 50px;
}

.more a{
background: #8503C2;
text-decoration: none;
color: #FFF;
padding: 5px 15px;
margin-left: 30px;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 900;
transition: 1s;
}
.more a:hover{
	box-shadow: 0px 9px 10px 0px purple;
	transition: 0.5s;
}

footer{
	float: left;
	width: 100%;
	position: relative;
	top: 350px;
  height: 300px;
  background-image: linear-gradient(131deg, rgba(186, 186, 186, 0.01) 0%, rgba(186, 186, 186, 0.01) 16.667%,rgba(192, 192, 192, 0.01) 16.667%, rgba(192, 192, 192, 0.01) 33.334%,rgba(48, 48, 48, 0.01) 33.334%, rgba(48, 48, 48, 0.01) 50.001000000000005%,rgba(33, 33, 33, 0.01) 50.001%, rgba(33, 33, 33, 0.01) 66.668%,rgba(182, 182, 182, 0.01) 66.668%, rgba(182, 182, 182, 0.01) 83.33500000000001%,rgba(211, 211, 211, 0.01) 83.335%, rgba(211, 211, 211, 0.01) 100.002%),linear-gradient(148deg, rgba(48, 48, 48, 0.01) 0%, rgba(48, 48, 48, 0.01) 16.667%,rgba(178, 178, 178, 0.01) 16.667%, rgba(178, 178, 178, 0.01) 33.334%,rgba(192, 192, 192, 0.01) 33.334%, rgba(192, 192, 192, 0.01) 50.001000000000005%,rgba(237, 237, 237, 0.01) 50.001%, rgba(237, 237, 237, 0.01) 66.668%,rgba(194, 194, 194, 0.01) 66.668%, rgba(194, 194, 194, 0.01) 83.33500000000001%,rgba(227, 227, 227, 0.01) 83.335%, rgba(227, 227, 227, 0.01) 100.002%),linear-gradient(138deg, rgba(146, 146, 146, 0.03) 0%, rgba(146, 146, 146, 0.03) 25%,rgba(33, 33, 33, 0.03) 25%, rgba(33, 33, 33, 0.03) 50%,rgba(46, 46, 46, 0.03) 50%, rgba(46, 46, 46, 0.03) 75%,rgba(172, 172, 172, 0.03) 75%, rgba(172, 172, 172, 0.03) 100%),linear-gradient(38deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 16.667%,rgba(28, 28, 28, 0.03) 16.667%, rgba(28, 28, 28, 0.03) 33.334%,rgba(236, 236, 236, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 50.001000000000005%,rgba(3, 3, 3, 0.03) 50.001%, rgba(3, 3, 3, 0.03) 66.668%,rgba(207, 207, 207, 0.03) 66.668%, rgba(207, 207, 207, 0.03) 83.33500000000001%,rgba(183, 183, 183, 0.03) 83.335%, rgba(183, 183, 183, 0.03) 100.002%),linear-gradient(145deg, rgba(20, 20, 20, 0.02) 0%, rgba(20, 20, 20, 0.02) 20%,rgba(4, 4, 4, 0.02) 20%, rgba(4, 4, 4, 0.02) 40%,rgba(194, 194, 194, 0.02) 40%, rgba(194, 194, 194, 0.02) 60%,rgba(34, 34, 34, 0.02) 60%, rgba(34, 34, 34, 0.02) 80%,rgba(71, 71, 71, 0.02) 80%, rgba(71, 71, 71, 0.02) 100%),linear-gradient(78deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 20%,rgba(95, 95, 95, 0.02) 20%, rgba(95, 95, 95, 0.02) 40%,rgba(71, 71, 71, 0.02) 40%, rgba(71, 71, 71, 0.02) 60%,rgba(7, 7, 7, 0.02) 60%, rgba(7, 7, 7, 0.02) 80%,rgba(130, 130, 130, 0.02) 80%, rgba(130, 130, 130, 0.02) 100%),linear-gradient(293deg, rgba(213, 213, 213, 0.03) 0%, rgba(213, 213, 213, 0.03) 20%,rgba(220, 220, 220, 0.03) 20%, rgba(220, 220, 220, 0.03) 40%,rgba(146, 146, 146, 0.03) 40%, rgba(146, 146, 146, 0.03) 60%,rgba(57, 57, 57, 0.03) 60%, rgba(57, 57, 57, 0.03) 80%,rgba(120, 120, 120, 0.03) 80%, rgba(120, 120, 120, 0.03) 100%),linear-gradient(90deg, rgb(225, 15, 180),rgb(78, 198, 243));
}
body{

}
.highlight{
	color: white;
}
h2{
	 animation-name: example;
  animation-duration: 4s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}
@keyframes example{
	from{color:black ;}
	to{color: darkblue;}
}
@keyframes exampleone{
	from{ box-shadow: 0px 10px 50px 0px black; }
	to{ box-shadow: 0px 15px 40px 0px black; }
}




.falling {
    width: 100%;
    height: 500px;
    position: relative;
    
    
    background-position: center center;
    margin: 10px 0 20px 0;
}
.falling canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: color-dodge;
}